{% load url from future %}

<script type="text/javascript">
    $(function(){
        $('#appsearch-form').appsearch({
            'constraintFieldDataURL': '{{ search.field_data_url }}',
            'constraintOperatorDataURL': '{{ search.operator_data_url }}',
            'modelSelect': $('#appsearch-form #model-select-wrapper select'),
                
            // Passed directly to formset.js
            'formsetOptions': {
                prefix: '{{ search.constraint_formset.prefix }}',
                addText: '',
                deleteText: ''
            }
        });
    });
</script>

{{ search.render_search_form }}
    
<div class="span-18 last">&nbsp;</div>
<hr />

{{ search.render_results_list }}
